### Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [125]:
#lets first connect to the web driver
driver=webdriver.Chrome(r"C:\Program Files\chromedriver.exe")

In [126]:
driver.get("https://www.flipkart.com")

In [127]:
#finding element for job search bar
#search_job=driver.find_element_by_id("_3704LK")
#search_job.send_keys("sneakers")

In [130]:
brand_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]') #extract all tags from brand

In [131]:
brand=[] #empty list
for i in brand_tag:
# So we will run a loop to iterate over the tags extracted above and extract the text inside them.
    brand.append(i.text.strip()) 
brand[:6]

['D-SNEAKERZ', 'BIRDE', 'Numenzo', 'Magnolia', 'BRUTON', 'Robbie jones']

In [132]:
prod_des_tag=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

In [133]:
prod_des=[]
for i in prod_des_tag:
    prod_des.append(i.text.strip())
prod_des[:6]

["Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Birde Trendy Casual Shoes Sneakers For Men',
 '411 Casual Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'Casual Sneakers Shoes For Men Sneakers For Men']

In [134]:
price_tag=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

In [135]:
price=[]
for i in price_tag:
    price.append(i.text.strip())
price[:6]

['₹348', '₹399', '₹499', '₹398', '₹472', '₹379']

In [136]:
discount_tag=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')

In [137]:
discount=[]
for i in discount_tag:
    discount.append(i.text.strip())
discount[:6]

['47% off', '20% off', '75% off', '60% off', '88% off', '62% off']

In [138]:
sneakers=pd.DataFrame({})
sneakers["Brand"]=brand[:10]
sneakers['Product Description']=prod_des[:10]
sneakers['Price']=price[:10]
sneakers['Discount % ']=discount[:10]

In [139]:
sneakers

,Brand,Product Description,Price,Discount %
0,D-SNEAKERZ,"Casual , Partywear Sneakers Shoes For Men's An...",₹348,47% off
1,BIRDE,Birde Trendy Casual Shoes Sneakers For Men,₹399,20% off
2,Numenzo,411 Casual Sneakers For Men,₹499,75% off
3,Magnolia,Sneakers For Men,₹398,60% off
4,BRUTON,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,₹472,88% off
5,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹379,62% off
6,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹399,69% off
7,luxury fashion,luxury fashionable casual snealer shoes Sneake...,₹399,69% off
8,HOTSTYLE,Sneakers For Men,₹296,70% off
9,Numenzo,Sneakers For Men,₹449,65% off

In [140]:
#lets first connect to the web driver
driver=webdriver.Chrome(r"C:\Program Files\chromedriver.exe")

In [141]:
#driver=webdriver.Chrome("chromedriver.exe")

In [142]:
driver.get('https://www.myntra.com/shoes')

In [143]:
#locating the price filter
filter_button=driver.find_elements_by_xpath('//input[@class="price-input"]')
for i in filter_button:
    if i.text=='Rs. 6649 to Rs. 13099':
        i.click()
        break

In [144]:
#locating the color filter
filter_button=driver.find_elements_by_xpath('//label[@class="common-customCheckbox"]')
for i in filter_button:
    if i.text=='Black':
        i.click()
        break

In [145]:
brand_tag=driver.find_elements_by_xpath('//h3[@class="product-brand"]')

In [146]:
brand=[]
for i in brand_tag:
    brand.append(i.text.strip())
brand[:6]

['ALDO',
 'ALDO',
 'Puma',
 'PUMA Motorsport',
 'PUMA Motorsport',
 'PUMA Motorsport']

In [147]:
description_tag=driver.find_elements_by_xpath('//h4[@class="product-product"]')

In [148]:
description=[]
for i in description_tag:
    description.append(i.text.strip())
description[:6]

['Leather Solid Loafers',
 'Men Driving Shoes',
 'Men Jamming 2.0 Running Shoes',
 'Unisex Scuderia Ferrari Shoes',
 'Unisex Mercedes F1 Sneakers',
 'Unisex FerrariRS-Fast Sneakers']

In [149]:
price_tag=driver.find_elements_by_xpath('//div[@class="product-price"]')

In [150]:
price=[]
for i in price_tag:
    price.append(i.text.strip())
price[:6]

['Rs. 10499Rs. 14999(30% OFF)',
 'Rs. 11199Rs. 15999(30% OFF)',
 'Rs. 8449Rs. 12999(35% OFF)',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 7999Rs. 9999(20% OFF)']

In [151]:
myntra_shoes=pd.DataFrame({})
myntra_shoes['Brand of Shoes']=brand
myntra_shoes['Short Shoe Description']=description
myntra_shoes['Price of Shoe']=price

myntra_shoes

,Brand of Shoes,Short Shoe Description,Price of Shoe
0,ALDO,Leather Solid Loafers,Rs. 10499Rs. 14999(30% OFF)
1,ALDO,Men Driving Shoes,Rs. 11199Rs. 15999(30% OFF)
2,Puma,Men Jamming 2.0 Running Shoes,Rs. 8449Rs. 12999(35% OFF)
3,PUMA Motorsport,Unisex Scuderia Ferrari Shoes,Rs. 7999Rs. 9999(20% OFF)
4,PUMA Motorsport,Unisex Mercedes F1 Sneakers,Rs. 7999Rs. 9999(20% OFF)
5,PUMA Motorsport,Unisex FerrariRS-Fast Sneakers,Rs. 7999Rs. 9999(20% OFF)
6,Puma,Men Deviate Nitro Running Shoe,Rs. 11999Rs. 14999(20% OFF)
7,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8099Rs. 8999(10% OFF)
8,Puma,Men Running Shoes,Rs. 9099Rs. 12999(30% OFF)
9,Puma,Unisex Mirage Remix Sneakers,Rs. 7199Rs. 8999(20% OFF)
10,ASICS,Women GlideRide Running Shoes,Rs. 11199Rs. 13999(20% OFF)
11,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8999Rs. 9999(10% OFF)
12,UNDER ARMOUR,Women HOVR Sonic 4 Running,Rs. 7149Rs. 10999(35% OFF)
13,Puma,Men Liberate NITRO Running,Rs. 6999Rs. 9999(30% OFF)
14,Puma,Men Magnify Nitro Running,Rs. 9099Rs. 12999(30% OFF)
15,FORCLAZ By Decathlon,TREKKING 100 Boots,Rs. 6999
16,PUMA Motorsport,Unisex BMW RS-Connect Sneakers,Rs. 7999Rs. 9999(20% OFF)
17,Hush Puppies,Men Leather Slip-On Sneakers,Rs. 7999Rs. 9999(20% OFF)
18,UNDER ARMOUR,Women HOVR Sonic 4 FnRn,Rs. 7149Rs. 10999(35% OFF)
19,Puma,Unisex Leather Trainers,Rs. 6999Rs. 9999(30% OFF)
20,UNDER ARMOUR,Men Charged Commit 3 Training,Rs. 7999
21,Puma,Women Eternity NITRO Shoes,Rs. 7799Rs. 12999(40% OFF)
22,UNDER ARMOUR,Women Charged Rogue 2.5ClrSft,Rs. 7999
23,Nike,Men BlazerLow '77 Sneakers,Rs. 7195
24,Geox,Leather Heeled Boots,Rs. 12999
25,Kalenji By Decathlon,Men KD500 Running Shoe,Rs. 7773Rs. 8449(8% OFF)
26,Puma,Women Magnify Nitro Shoes,Rs. 8449Rs. 12999(35% OFF)
27,UNDER ARMOUR,Women Charged Assert 8 Running,Rs. 6999
28,UNDER ARMOUR,Women Charged Bandit 6 Running,Rs. 8999
29,DAVINCHI,Ustraa black,Rs. 8990
30,Hush Puppies,Men Formal Derbys,Rs. 8999Rs. 9999(10% OFF)
31,Saint G,Men Mid-Top Chelsea Boots,Rs. 10900
32,Saint G,Women Leather Heeled Boots,Rs. 9500
33,ASICS,Women NOVABLAST Road Running,Rs. 11049Rs. 12999(15% OFF)
34,J.FONTINI,Men Black Leather Loafers,Rs. 8490
35,Cole Haan,Men GENERATION ZEROGRAND STITCHLITE,Rs. 11999
36,J.FONTINI,Men Solid Loafers,Rs. 8990
37,Puma,Unisex Textured Sneakers,Rs. 7999Rs. 9999(20% OFF)
38,Heel & Buckle London,Women Leather Pumps,Rs. 8900Rs. 8990(1% OFF)
39,Hush Puppies,Men Leather Derbys,Rs. 7199Rs. 7999(10% OFF)
40,Geox,Men Leather Formal Derbys,Rs. 9999
41,Puma,Unisex Mirage Sport Trainers,Rs. 6999Rs. 9999(30% OFF)
42,Ruosh,Men Formal Leather Brogues,Rs. 7490
43,ASICS,Women GlideRide Running Shoes,Rs. 11199Rs. 13999(20% OFF)
44,Ruosh,Men Solid Leather Formal Slip-Ons,Rs. 6990
45,J.FONTINI,Men Leather Formal Loafers,Rs. 6990
46,Ruosh,Men Solid Leather Formal Monks,Rs. 6990
47,Geox,Women Mid-Top Flat Boots,Rs. 10999
48,Heel & Buckle London,Women High-Top Leather Heels,Rs. 7910Rs. 7990(1% OFF)
49,KIPRUN By Decathlon,Women Running Shoes,Rs. 7006Rs. 7149(2% OFF)

### Q10: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. 

###  Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the

In [152]:
import pandas as pd
import selenium
from selenium import webdriver
import time

In [153]:
#lets first connect to the web driver
driver=webdriver.Chrome(r"C:\Program Files\chromedriver.exe")

In [154]:
driver.get("https://www.Amazon.in")

In [155]:
#finding element for job search bar
search_job=driver.find_element_by_id("twotabsearchtextbox")
search_job.send_keys("laptop")
#search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
#search_loc.send_keys("Banglore")

In [156]:
search_btn=driver.find_element_by_xpath('//div[@class="nav-search-submit nav-sprite"]')
search_btn.click()

In [157]:
#locating the core i7 filter
filter_button=driver.find_elements_by_xpath('//a[@class="a-link-normal s-navigation-item"]/span')
for i in filter_button:
    if i.text=='Intel Core i7':
        i.click()
        break

In [158]:
# Locating the core i9 filter
filter_button=driver.find_elements_by_xpath('//a[@class="a-link-normal s-navigation-item"]/span')
for i in filter_button:
    if i.text=='Intel Core i9':
        i.click()
        break

In [159]:
name=driver.find_elements_by_xpath('//a[@class="a-link-normal a-text-normal"]')
name[:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c9f5606a61a0e4a813dfbfde316630a4", element="51ffcba8-c260-448c-9a59-e3beffeef3b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c9f5606a61a0e4a813dfbfde316630a4", element="caafef0d-2789-44b8-827b-615474dd279e")>]

In [160]:
names=[]
for i in name:
    names.append(i.text.strip())
names[:4]

['Fujitsu UH-X 11th Gen Intel i7 Core 13.3” (33.78cm) FHD IPS 400Nits Thin and Light Laptop (16GB/512GB SSD/Win10/Office/Iris Xe Graphics/Backlit Kb/ Fingerprint Reader/Black/878gms), 4ZR1D67596',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6" (39.62 cm) FHD IPS 300 nits Antiglare 100% sRGB Thin and Light Laptop (16GB/512GB SSD/Windows 10/MS Office/3 Yr Onsite Warranty/1.7 Kg), 20VEA0HHIH',
 'Life Digital Laptop 15.6-inch (39.62 cms) (Intel Core i7, 4GB RAM, 256GB SSD, Windows 10), ZED AIR CX7',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg)(Without Webcam) XMA1904-AF']

In [161]:
price=[]
price_tag=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
price_tag[:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c9f5606a61a0e4a813dfbfde316630a4", element="595d6a4e-0643-4a0b-8849-e99c82ef9847")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c9f5606a61a0e4a813dfbfde316630a4", element="e9542aff-9b16-47ac-83cc-13048fadd082")>]

In [162]:
for i in price_tag:
    price.append(i.text.strip())
price[:3]

['89,990', '84,990', '24,990']

In [163]:
ratings=[]
rating_tag=driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]')
rating_tag[:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c9f5606a61a0e4a813dfbfde316630a4", element="6cc6293b-755a-47ca-bedd-26b82f0956f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c9f5606a61a0e4a813dfbfde316630a4", element="60883ff6-0554-44cd-8fc2-912087373b64")>]

In [164]:
for i in rating_tag:
    ratings.append(i.text.strip())
ratings[:4]

['22', '6', '43', '864']

In [165]:
laptop=pd.DataFrame({})
laptop['Title']=names[:5]
laptop['Ratings']=ratings[:5]
laptop['Price']=price[:5]

laptop

                                               Title Ratings   Price
0  Fujitsu UH-X 11th Gen Intel i7 Core 13.3” (33....      22  89,990
1  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....       6  84,990
2  Life Digital Laptop 15.6-inch (39.62 cms) (Int...      43  24,990
3  Mi Notebook Horizon Edition 14 Intel Core i7-1...     864  53,990
4  Acer Nitro 5 11th Gen Intel Core i7-11800H 15....      19  85,990