### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name,experience_required. You have to scrape first 10 jobs data.

In [1]:
#lets now import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
#lets first connect to the web driver
driver=webdriver.Chrome(r"C:\Program Files\chromedriver.exe")

In [4]:
driver.get("https://www.naukri.com/")

In [5]:
#finding element for job search bar
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Analyst")
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Banglore")

In [6]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [7]:
job_title=[]
company_name=[]
locations=[]
experiance=[]

first wewill  extract all the tags where we have the job titles.let me show you on the webpagein which tags the job titles are put.

In [8]:
#So lets extract all the tags having the job-titles
titles_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

Now we have all the tags in which there are the job titles.

Now we will extract the text from these tags one by one by looping over these tags.

In [9]:
# Now the text of the job title is inside the tags extracted above.
# So we will run a loop to iterate over the tags extracted above and extract the text inside them.
for i in titles_tags:
    job_title.append(i.text)
job_title[:4]

['SQL Data Analyst',
 'Data Analyst - Marketing',
 'Openings For Data Analyst',
 'Associate Data Analyst']

In [10]:
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

In [11]:
for i in company_tags:
    company_name.append(i.text)
company_name[:4]

['NetApp',
 'Byjus - Transforming Education using Technology',
 'Allegis Services India Pvt. Ltd.',
 'Integrated Digital Systems']

In [12]:
experiance_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
experiance_tag[:2]

[<selenium.webdriver.remote.webelement.WebElement (session="40256872e413c2b6cf496fe0a40d905e", element="11733f55-d7e7-41a4-a905-b930e7e7775f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="40256872e413c2b6cf496fe0a40d905e", element="f6ae205c-1cf3-4684-89b4-e10d14f24e3d")>]

In [13]:
for i in experiance_tag:
    experiance.append(i.text.strip())
experiance[:6]

['3-7 Yrs', '0-2 Yrs', '0-3 Yrs', '0-2 Yrs', '2-6 Yrs', '1-4 Yrs']

In [14]:
locations_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
locations_tag[:2]

[<selenium.webdriver.remote.webelement.WebElement (session="40256872e413c2b6cf496fe0a40d905e", element="4e110939-e1ee-41ee-b2a0-72dada5313be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="40256872e413c2b6cf496fe0a40d905e", element="cc354b7a-199a-4c1f-b167-e185cf11e800")>]

In [15]:
for i in locations_tag:
    locations.append(i.text.strip())
locations[:6]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [16]:
print(len(locations),len(job_title),len(company_name),len(experiance))

20 20 20 20

In [17]:
Jobs=pd.DataFrame({})
Jobs['Job Title']=job_title[:10]
Jobs['Company Name']=company_name[:10]
Jobs['Experiance']=experiance[:10]
Jobs['Locations']=locations[:10]

Jobs

,Job Title,Company Name,Experiance,Locations
0,SQL Data Analyst,NetApp,3-7 Yrs,Bangalore/Bengaluru
1,Data Analyst - Marketing,Byjus - Transforming Education using Technology,0-2 Yrs,Bangalore/Bengaluru
2,Openings For Data Analyst,Allegis Services India Pvt. Ltd.,0-3 Yrs,Bangalore/Bengaluru
3,Associate Data Analyst,Integrated Digital Systems,0-2 Yrs,Bangalore/Bengaluru
4,Business Data Analyst,INDIAVIDUAL LEARNING LIMITED,2-6 Yrs,Bangalore/Bengaluru
5,Data Analyst / Business Analyst (Demand Planning),Flipkart,1-4 Yrs,Bangalore/Bengaluru
6,Data Analyst,Applied Materials,0-3 Yrs,Bangalore/Bengaluru
7,Lead Data Analyst / Data Engineer,Huawei Technologies,5-10 Yrs,Bangalore/Bengaluru
8,Business Data Analyst,RANDSTAD INDIA PVT LTD,8-12 Yrs,Bangalore/Bengaluru
9,Senior Data Analyst,Scienaptic Systems,5-10 Yrs,Bangalore/Bengaluru

### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location,company_name, full job-description. You have to scrape first 10 jobs data.

In [18]:
import pandas as pd
import selenium
from selenium import webdriver

In [19]:
#lets first connect to the web driver
driver=webdriver.Chrome(r"C:\Program Files\chromedriver.exe")

In [20]:
driver.get("https://www.naukri.com/")

In [21]:
#finding element for job search bar
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Scientist")
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Banglore")

In [22]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [23]:
job_title=[]
location=[]
comapny_name=[]
Description=[]

In [24]:
title_tag=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tag[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="86c9215d5cc82da0a09ca7d76c358d47", element="4d991585-d211-48e3-8591-a861d2c15fcc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86c9215d5cc82da0a09ca7d76c358d47", element="5f61be1d-8c22-4ff5-85e7-ee8a83446109")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86c9215d5cc82da0a09ca7d76c358d47", element="f0f97ff2-c89c-4606-92fc-0420da431142")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86c9215d5cc82da0a09ca7d76c358d47", element="ce682e64-d25f-4fc0-a314-04d33198392e")>]

In [25]:
for i in title_tag:
    job_title.append(i.text.strip())
job_title[:4]

['Sr. Data Scientist / Data Scientist For Bangalore & Kolkata Locations',
 'Data Scientist',
 'Senior Data Scientist - Python/Machine Learning Algorithms',
 'Lead Data Scientist']

In [26]:
location_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
location_tag[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="86c9215d5cc82da0a09ca7d76c358d47", element="2a6de951-6d1c-44ab-86bb-0880eb217f88")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86c9215d5cc82da0a09ca7d76c358d47", element="84aadcc3-424e-4cde-a160-18461ecca1c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86c9215d5cc82da0a09ca7d76c358d47", element="2c8cad16-f97d-40e4-912e-255f3d4ed17d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86c9215d5cc82da0a09ca7d76c358d47", element="3c548126-8b7a-483a-8e77-8e6969831967")>]

In [27]:
for i in location_tag:
    location.append(i.text.strip())
location[:4]

['Kolkata, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [28]:
company_tag=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tag[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="86c9215d5cc82da0a09ca7d76c358d47", element="12220156-34d1-4ff1-b8d8-24218236b5a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86c9215d5cc82da0a09ca7d76c358d47", element="9587d62c-91da-4989-ac24-36b0ead3e85b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86c9215d5cc82da0a09ca7d76c358d47", element="962c7b77-f3e7-4e71-9a65-cda812979e48")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86c9215d5cc82da0a09ca7d76c358d47", element="69cbb300-5c02-4617-a2c8-1a56c7f1c6ad")>]

In [29]:
for i in company_tag:
    company_name.append(i.text.strip())
company_name[:4]

['NetApp',
 'Byjus - Transforming Education using Technology',
 'Allegis Services India Pvt. Ltd.',
 'Integrated Digital Systems']

In [30]:
description_tag=driver.find_elements_by_xpath('//ul[@class="tags has-description"]')
description_tag[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="86c9215d5cc82da0a09ca7d76c358d47", element="472cc150-b740-4afd-b2d2-0b3da58e6d8b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86c9215d5cc82da0a09ca7d76c358d47", element="e26ae523-c7e9-4ba3-8c63-8bceac27007c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86c9215d5cc82da0a09ca7d76c358d47", element="1641f5fb-4eb2-462c-9c32-c88c722957d6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86c9215d5cc82da0a09ca7d76c358d47", element="6690f8a9-1a4e-4f11-bcda-82a6f4d60866")>]

In [31]:
for i in description_tag:
    Description.append(i.text.strip())
Description[:4]

['Data Science\nClassification\nPython\nSpark\nQlikView\nAgile\nJIRA\nLooker',
 'Data Science\nMachine Learning\nPython\nIT Skills\nJava\nArtificial Intelligence\nCloud\nDevOps',
 'Data Analytics\nMachine Learning\nPerl\nML algorithms\nDjango\nData Science\nPython\nIT Skills',
 'Data Science\nPerformance Optimization\nAlgorithms\nRNN\nLSTM\nArtificial Intelligence\nBig Data\nData Mining']

In [32]:
print(len(company_name),len(Description),len(job_title),len(location))

40 20 20 20

In [33]:
df=pd.DataFrame({})
df['Job Title']=job_title[:10]
df['Job Location']=location[:10]
df['Company_Name']=company_name[:10]
df['Full Job Descriptions']=Description[:10]

df

,Job Title,Job Location,Company_Name,Full Job Descriptions
0,Sr. Data Scientist / Data Scientist For Bangal...,"Kolkata, Bangalore/Bengaluru",NetApp,Data Science\nClassification\nPython\nSpark\nQ...
1,Data Scientist,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",Byjus - Transforming Education using Technology,Data Science\nMachine Learning\nPython\nIT Ski...
2,Senior Data Scientist - Python/Machine Learnin...,"Mumbai, Hyderabad/Secunderabad, Pune, Bangalor...",Allegis Services India Pvt. Ltd.,Data Analytics\nMachine Learning\nPerl\nML alg...
3,Lead Data Scientist,Bangalore/Bengaluru,Integrated Digital Systems,Data Science\nPerformance Optimization\nAlgori...
4,SDE2 Data Scientist,Bangalore/Bengaluru,INDIAVIDUAL LEARNING LIMITED,Data Science\nBpo\nCustomer Service\nLogistic ...
5,SDE1 Data Scientist,Bangalore/Bengaluru,Flipkart,Data Science\nBpo\nCustomer Service\nLogistic ...
6,Data Scientist,Bangalore/Bengaluru,Applied Materials,IT Skills\nPython\nMachine Learning\nAWS\nData...
7,Data Scientist,"Pune, Bangalore/Bengaluru",Huawei Technologies,IT Skills\nPython\nData Science\nMachine Learn...
8,Vice President Data Scientist,Bangalore/Bengaluru,RANDSTAD INDIA PVT LTD,Wealth management\ndata science\ndevelopment t...
9,Data Scientist,Bangalore/Bengaluru,Scienaptic Systems,Data Science\nHive\nFinancial Services\nAnalyt...

### Q3: In this question you have to scrape data using the filters available on the You have to use the location and salary filter.

In [34]:
import pandas as pd
import selenium
from selenium import webdriver

In [35]:
#lets first connect to the web driver
driver=webdriver.Chrome(r"C:\Program Files\chromedriver.exe")

In [36]:
driver.get("https://www.naukri.com/")

In [37]:
#finding element for job search bar
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Scientist")

In [38]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [39]:
filter_button=driver.find_elements_by_xpath('//i[@class="grey-text lH20 fleft ml-8 txtLbl"]')
for i in filter_button:
    if i.text=='Delhi/NCR':
        i.click()
        break

In [40]:
filter_button=driver.find_elements_by_xpath('//input[@id="chk-3-6 Lakhs-ctcFilter-"]')
for i in filter_button:
    if i.text=='3-6 lakhs':
        i.click()
        break

In [41]:
title_tag=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tag[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="b623ab36a74ec6b5e4a59425eeeb99dd", element="684fa997-24cc-4636-a565-e2fb224a0c19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b623ab36a74ec6b5e4a59425eeeb99dd", element="4ec95413-067c-4881-8f46-dd264a5bdd8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b623ab36a74ec6b5e4a59425eeeb99dd", element="cdc45829-ab70-4dff-97d9-20f95fd83fb9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b623ab36a74ec6b5e4a59425eeeb99dd", element="cd4ee4ff-d422-4fa1-92bf-35d77954810f")>]

In [42]:
title=[]
for i in title_tag:
    title.append(i.text.strip())
title[:4]

['Sr. Data Scientist / Data Scientist For Bangalore & Kolkata Locations',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist - Python/Machine Learning Algorithms']

In [43]:
location_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')

In [44]:
location=[]
for i in location_tag:
    location.append(i.text.strip())
location[:4]

['Kolkata, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad(Madhapur)',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru']

In [45]:
company_tag=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tag[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="b623ab36a74ec6b5e4a59425eeeb99dd", element="cd55fa2c-f420-485a-b02c-9700169f8c77")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b623ab36a74ec6b5e4a59425eeeb99dd", element="0c409542-5e6a-44b3-aab9-7fcb442c9c98")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b623ab36a74ec6b5e4a59425eeeb99dd", element="93f042b3-0d72-4b58-93d8-8efc190edbae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b623ab36a74ec6b5e4a59425eeeb99dd", element="70f6ec71-a4e2-471a-b93d-88ca816fb931")>]

In [46]:
company=[]
for i in company_tag:
    company.append(i.text.strip())
company[:4]

['mPokket',
 'Sadup softech Pvt Ltd',
 'Amazon Development Centre (India) Pvt. Ltd.',
 'Altimax Business Solutions']

In [47]:
experiance_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
experiance_tag[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="b623ab36a74ec6b5e4a59425eeeb99dd", element="37866555-37ce-4383-b081-8c505fcaf9a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b623ab36a74ec6b5e4a59425eeeb99dd", element="18a1ca9b-6296-405d-aec6-13b250939788")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b623ab36a74ec6b5e4a59425eeeb99dd", element="83b749c5-aacc-4f5f-9470-00da5b47b7c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b623ab36a74ec6b5e4a59425eeeb99dd", element="62d08c0d-5aed-4524-b0e8-187eefcffb56")>]

In [48]:
experiance=[]
for i in experiance_tag:
    experiance.append(i.text.strip())
experiance[:4]

['3-8 Yrs', '7-11 Yrs', '4-9 Yrs', '4-9 Yrs']

In [49]:
print(len(title),len(company),len(experiance),len(location))

20 20 19 20

In [50]:
ds=pd.DataFrame({})
ds['Job TItle']=title[:10]
ds['Job Location']=location[:10]
ds['Company Name']=company[:10]
ds['Experiance Required']=experiance[:10]

ds

,Job TItle,Job Location,Company Name,Experiance Required
0,Sr. Data Scientist / Data Scientist For Bangal...,"Kolkata, Bangalore/Bengaluru",mPokket,3-8 Yrs
1,Data Scientist,Hyderabad/Secunderabad(Madhapur),Sadup softech Pvt Ltd,7-11 Yrs
2,Data Scientist,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",Amazon Development Centre (India) Pvt. Ltd.,4-9 Yrs
3,Senior Data Scientist - Python/Machine Learnin...,"Mumbai, Hyderabad/Secunderabad, Pune, Bangalor...",Altimax Business Solutions,4-9 Yrs
4,Lead Data Scientist,Bangalore/Bengaluru,Huawei Technologies,4-7 Yrs
5,"Senior Data Scientist, Data Engineering",Hyderabad/Secunderabad,"Ryan, LLC.",2-7 Yrs
6,SDE2 Data Scientist,Bangalore/Bengaluru,Multi Recruit,8-13 Yrs
7,SDE1 Data Scientist,Bangalore/Bengaluru,Multi Recruit,10-15 Yrs
8,Senior Data Scientist,"Noida, Hyderabad/Secunderabad, Chennai",HCL Technologies Limited,0-2 Yrs
9,Data Scientist,"Tirupati, Vellore",STRYDO TECHNOLOGIES PVT LTD,1-6 Yrs

### Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida 

### location.You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [51]:
import pandas as pd
import selenium
from selenium import webdriver

In [52]:
#lets first connect to the web driver
driver=webdriver.Chrome(r"C:\Program Files\chromedriver.exe")

In [53]:
driver.get("https://www.glassdoor.co.in/index.htm")

In [54]:
#finding element for job search bar
#search_job=driver.find_element_by_id("scKeyword")
#search_job.send_keys("Data Scientist")
#search_loc=driver.find_element_by_xpath("//div[@class='input-wrapper css-q444d9']")
#search_loc.send_keys("Noida")

In [57]:
company_tag=driver.find_elements_by_xpath('//div[@class="d-flex justify-content-between align-items-start"]')
company_tag[:2]

[<selenium.webdriver.remote.webelement.WebElement (session="dd50fdda80d4aa22c9365dec0b26c28f", element="fabef6e1-dcd7-4554-a453-3249e73bba0f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd50fdda80d4aa22c9365dec0b26c28f", element="a6c75a32-915e-4287-bce2-81f1817a7919")>]

In [58]:
company_name=[]
for i in company_tag:
    company_name.append(i.text.strip())
company_name[:4]

['Instrovate Technologies',
 'Pixel Vision',
 '2COMS Consulting Private Limited',
 'Innovacer']

In [59]:
rating_tag=driver.find_elements_by_xpath('//span[@class=" job-search-key-srfzj0 e1cjmv6j0"]')
rating_tag[:2]

[<selenium.webdriver.remote.webelement.WebElement (session="dd50fdda80d4aa22c9365dec0b26c28f", element="2045c00b-d114-4fe1-b488-ca4ece05e225")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd50fdda80d4aa22c9365dec0b26c28f", element="a347f46c-47ef-432d-b466-adf03a722613")>]

In [60]:
company_rating=[]
for i in rating_tag:
    company_rating.append(i.text.strip())
company_rating[:4]

['3.8', '3.8', '3.8', '3.7']

In [61]:
posted_tag=driver.find_elements_by_xpath('//div[@class="d-flex align-items-end pl-std css-17n8uzw"]')
posted_tag[:2]

[<selenium.webdriver.remote.webelement.WebElement (session="dd50fdda80d4aa22c9365dec0b26c28f", element="5c9adcd6-c6b5-4142-be57-0aba9595fea8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd50fdda80d4aa22c9365dec0b26c28f", element="80362cc3-be1d-424c-8906-91d81566a910")>]

In [62]:
job_posted_date=[]
for i in posted_tag:
    job_posted_date.append(i.text.strip())
job_posted_date[:4]

['30d+', '4d', '16d', '4d']

In [63]:
print(len(company_name),len(job_posted_date),len(company_rating))

30 30 22

In [64]:
gd=pd.DataFrame({})
gd['Company Name']=company_name[:10]
gd['No. of days ago when Job was Posted']=job_posted_date[:10]
gd['Rating of the Company']=company_rating[:10]

gd

,Company Name,No. of days ago when Job was Posted,Rating of the Company
0,Instrovate Technologies,30d+,3.8
1,Pixel Vision,4d,3.8
2,2COMS Consulting Private Limited,16d,3.8
3,Innovacer,4d,3.7
4,Crowe,14d,3.7
5,UnitedHealth Group,8d,4.0
6,HDFC Bank,5d,4.5
7,Salasar New Age Technologies,30d+,4.0
8,AlgoScale Technologies Private Limited,30d+,5.0
9,"AIIMS, Delhi",3d,3.6

### Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [65]:
import pandas as pd
import selenium
from selenium import webdriver

In [66]:
#lets first connect to the web driver
driver=webdriver.Chrome(r"C:\Program Files\chromedriver.exe")

In [67]:
driver.get("https://www.glassdoor.co.in/Salaries/index.htm")

In [68]:
#finding element for job search bar
search_job=driver.find_element_by_id("KeywordSearch")
search_job.send_keys("Data Scientist")
search_loc=driver.find_element_by_xpath('//input[@class="loc"]')
search_loc.send_keys("Noida")

In [69]:
#search_btn=driver.find_element_by_xpath('//button[@class="gd-btn-mkt"]')
#search_btn.click()

In [73]:
company_tag=driver.find_elements_by_xpath('//a[@class="css-f3vw95 e1aj7ssy3"]')

In [74]:
company=[]
for i in company_tag:
    company.append(i.text.strip())
company[:4]

['Tata Consultancy Services', 'IBM', 'Accenture', 'Ericsson-Worldwide']

In [75]:
no_salary_tag=driver.find_elements_by_xpath('//div[@class="col-12 col-lg-auto"]')

In [76]:
no_salary=[]
for i in no_salary_tag:
    no_salary.append(i.text.strip())
no_salary[:4]

['25 salaries', '21 salaries', '16 salaries', '15 salaries']

In [77]:
avg_tag=driver.find_elements_by_xpath('//div[@class="col-12 col-lg-4 px-lg-0 d-flex align-items-baseline"]')

In [78]:
avg_salary=[]
for i in avg_tag:
    avg_salary.append(i.text.strip())
avg_salary[:4]

['₹6,36,785\n /yr', '₹9,24,624\n /yr', '₹12,24,104\n /yr', '₹7,68,525\n /yr']

In [86]:
min_tag=driver.find_elements_by_xpath('//span[@class="d-block d-lg-none m-0 css-1b6bxoo"]')

In [87]:
salary_range=[]
for i in min_tag:
    salary_range.append(i.text.strip())
salary_range[:4]

['Range: ₹4L - ₹13L',
 'Range: ₹6L - ₹26L',
 'Range: ₹6L - ₹23L',
 'Range: ₹4L - ₹17L']

In [88]:
print(len(company),len(no_salary),len(avg_salary),len(salary_range))

20 20 20 20

In [89]:
salary=pd.DataFrame({})
salary['Company Name']=company
salary['Number of Salaries']=no_salary
salary['Minimum to Maximum Salary ']=salary_range
salary['Averange Salary']=avg_salary

salary

,Company Name,Number of Salaries,Minimum to Maximum Salary,Averange Salary
0,Tata Consultancy Services,25 salaries,Range: ₹4L - ₹13L,"₹6,36,785\n /yr"
1,IBM,21 salaries,Range: ₹6L - ₹26L,"₹9,24,624\n /yr"
2,Accenture,16 salaries,Range: ₹6L - ₹23L,"₹12,24,104\n /yr"
3,Ericsson-Worldwide,15 salaries,Range: ₹4L - ₹17L,"₹7,68,525\n /yr"
4,UnitedHealth Group,15 salaries,Range: ₹8L - ₹16L,"₹12,82,880\n /yr"
5,Delhivery,15 salaries,Range: ₹5L - ₹1Cr,"₹12,60,805\n /yr"
6,EXL Service,11 salaries,Range: ₹6L - ₹20L,"₹12,53,544\n /yr"
7,Optum,11 salaries,Range: ₹8L - ₹21L,"₹12,70,000\n /yr"
8,ZS Associates,10 salaries,Range: ₹2L - ₹22L,"₹11,82,266\n /yr"
9,Optum Global Solutions,10 salaries,Range: ₹11L - ₹18L,"₹14,62,558\n /yr"
10,dunnhumby,10 salaries,Range: ₹6L - ₹21L,"₹11,45,202\n /yr"
11,Valiance Solutions,10 salaries,Range: ₹5L - ₹15L,"₹8,93,926\n /yr"
12,Cognizant Technology Solutions,8 salaries,Range: ₹4L - ₹13L,"₹9,66,328\n /yr"
13,Amazon,8 salaries,Range: ₹10L - ₹46L,"₹20,82,095\n /yr"
14,Nagarro,8 salaries,Range: ₹4L - ₹21L,"₹11,11,592\n /yr"
15,Innovaccer,8 salaries,Range: ₹6L - ₹18L,"₹12,51,280\n /yr"
16,Fresher,7 salaries,Range: ₹25T - ₹1L,"₹50,000\n /mo"
17,OYO,7 salaries,Range: ₹10L - ₹21L,"₹14,64,785\n /yr"
18,HCL Technologies,6 salaries,Range: ₹4L - ₹15L,"₹6,96,665\n /yr"
19,Genpact,6 salaries,Range: ₹2L - ₹23L,"₹5,96,566\n /yr"

### Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

In [90]:
import pandas as ps
import selenium 
from selenium import webdriver

In [91]:
driver=webdriver.Chrome(r"C:\Program Files\chromedriver.exe")

In [92]:
driver.get("https://www.flipkart.com")

In [93]:
#finding element for job search bar
#search_job=driver.find_element_by_id("_2M8cLY header-form-search")
#search_job.send_keys("sunglasses")

In [94]:
import time
for i in range(3):
    time.sleep(3)
    try:
        driver.find_element_by_xpath('//a[@class="_1LKTO3"]/a[3]')
    except:
        driver.find_elements_by_xpath('//a[@class="_1LKTO3"]/a[2]')

In [99]:
brand_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

In [100]:
brand=[]
for i in brand_tag:
    brand.append(i.text.strip())
brand[:6]

['PIRASO',
 'Fastrack',
 'PIRASO',
 'Elligator',
 'SHAAH COLLECTIONS',
 'ROZZETTA CRAFT']

In [101]:
product_tag_des=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

In [102]:
product_des=[]
for i in product_tag_des:
    product_des.append(i.text.strip())
product_des[:6]

['UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Retro Square Sunglasses (Free Size)']

In [103]:
price_tag=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

In [104]:
price=[]
for i in price_tag:
    price.append(i.text.strip())
price[:6]

['₹200', '₹758', '₹200', '₹295', '₹198', '₹499']

In [105]:
discount_tag=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')

In [106]:
discount=[]
for i in discount_tag:
    discount.append(i.text.strip())
discount[:6]

['87% off', '15% off', '87% off', '88% off', '88% off', '77% off']

In [108]:
import pandas as pd
sunglass=pd.DataFrame({})
sunglass['Brand']=brand[:40]
sunglass['Product Description']=product_des[:40]
sunglass['Price']=price[:100]
sunglass['Discount % ']=discount[:40]

sunglass

,Brand,Product Description,Price,Discount %
0,PIRASO,UV Protection Aviator Sunglasses (54),₹200,87% off
1,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
2,PIRASO,UV Protection Aviator Sunglasses (54),₹200,87% off
3,Elligator,UV Protection Round Sunglasses (54),₹295,88% off
4,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹198,88% off
5,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
6,PIRASO,UV Protection Aviator Sunglasses (54),₹200,87% off
7,New Specs,"Mirrored, UV Protection, Riding Glasses, Other...",₹299,81% off
8,GANSTA,UV Protection Aviator Sunglasses (57),₹239,88% off
9,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹284,89% off
10,Rich Club,Polarized Round Sunglasses (48),₹199,60% off
11,Elligator,UV Protection Round Sunglasses (55),₹266,86% off
12,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹546,31% off
13,NuVew,"UV Protection, Night Vision, Riding Glasses Sp...",₹216,72% off
14,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹379,81% off
15,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹509,36% off
16,Singco India,"UV Protection, Riding Glasses, Others Aviator,...",₹229,67% off
17,SHAAH COLLECTIONS,UV Protection Round Sunglasses (Free Size),₹331,80% off
18,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹215,78% off
19,Fastrack,UV Protection Shield Sunglasses (Free Size),₹879,2% off
20,Silver Kartz,UV Protection Oval Sunglasses (56),₹224,81% off
21,GANSTA,"UV Protection, Night Vision, Riding Glasses Av...",₹248,87% off
22,kingsunglasses,UV Protection Round Sunglasses (54),₹213,80% off
23,PIRASO,UV Protection Aviator Sunglasses (58),₹319,87% off
24,Singco India,UV Protection Round Sunglasses (Free Size),₹183,81% off
25,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹513,35% off
26,SUNBEE,"UV Protection, Polarized, Mirrored Wayfarer Su...",₹265,73% off
27,NuVew,UV Protection Sports Sunglasses (62),₹291,76% off
28,Fastrack,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹738,26% off
29,NuVew,"UV Protection, Mirrored Aviator Sunglasses (58)",₹185,78% off
30,GANSTA,"UV Protection, Riding Glasses Wayfarer Sunglas...",₹209,88% off
31,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹319,84% off
32,Singco India,UV Protection Aviator Sunglasses (Free Size),₹362,69% off
33,ROYAL SON,Mirrored Aviator Sunglasses (55),₹319,78% off
34,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹404,79% off
35,hipe,"Mirrored, UV Protection, Gradient Round Sungla...",₹210,85% off
36,ROYAL SON,"Polarized, UV Protection Aviator Sunglasses (58)",₹599,70% off
37,Silver Kartz,UV Protection Wayfarer Sunglasses (Free Size),₹194,87% off
38,GANSTA,UV Protection Aviator Sunglasses (57),₹207,80% off
39,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹689,23% off

### Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [109]:
import pandas as pd
import selenium
from selenium import webdriver
import time

In [110]:
#lets first connect to the web driver
driver=webdriver.Chrome(r"C:\Program Files\chromedriver.exe")

In [111]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC")

In [112]:
import time
for i in range(3):
    time.sleep(3)
    try:
        driver.find_element_by_xpath('//a[@class="_2MImiq _1Qnn1K"]/a[1]')
    except:
        driver.find_elements_by_xpath('//a[@class="_2MImiq _1Qnn1K"]/a[9]')

In [113]:
rating_tag=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

In [114]:
rating=[]
for i in rating_tag:
    rating.append(i.text.strip())
rating[:3]

['5', '5', '5']

In [115]:
review_tag=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')

In [116]:
review=[]
for i in review_tag:
    review.append(i.text.strip())
review[:3]

['Brilliant', 'Simply awesome', 'Perfect product!']

In [117]:
full_review_tag=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

In [122]:
full_review=[]
for i in full_review_tag:
    full_review.append(i.text.strip())
full_review[:3]

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .']

In [123]:
iphone=pd.DataFrame({})
iphone['Ratings']=rating[:3]
iphone['Review_summary']=review[:3]
iphone['Full Review']=full_review[:3]

In [124]:
iphone

  Ratings    Review_summary                                        Full Review
0       5         Brilliant  The Best Phone for the Money\n\nThe iPhone 11 ...
1       5    Simply awesome  Really satisfied with the Product I received.....
2       5  Perfect product!  Amazing phone with great cameras and better ba...