### 1. Write a python program to display all the header tags from‘en.wikipedia.org/wiki/Main_Page’.

In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\soham\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\soham\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\soham\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\users\soham\anaconda3\lib\site-packages (2.25.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\soham\anaconda3\lib\site-packages (from requests) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\soham\anaconda3\lib\site-packages (from requests) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\soham\anaconda3\lib\site-packages (from requests) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\soham\anaconda3\lib\site-packages (from requests) (2.10)

In [2]:
from bs4 import BeautifulSoup
import requests

In [3]:
url=requests.get("https://en.wikipedia.org/wiki/Main_Page")

In [4]:
url.status_code

200

In [5]:
Soup=BeautifulSoup(url.text,"html.parser")

In [6]:
story=Soup.find_all(['h1','h2','h3'])

In [7]:
for i in story:
    print(i)

<h1 class="firstHeading" id="firstHeading">Main Page</h1>
<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>
<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>
<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>
<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>
<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>
<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>
<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>
<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>
<h2>Navigation menu</h2>
<h3 aria-label="" class="vector-menu-heading" id="p-personal-label">
<span>Personal tools</span>
</h3>
<h3 aria-label="" class="vector-menu-heading" id="p-namespaces-label">
<span>Namespaces</span>
</h3>
<h3 aria-label="Change language variant" class="vector-menu-heading" id="p-variants-label">
<span>Variants</span>
<span class="vector-menu-checkbox-expanded">expanded</span>
<span class="vector-menu-checkbox-collapsed">collapsed</span>
</h3>
<h3 aria-label="" class="vector-menu-heading" id="p-views-label">
<span>Views</span>
</h3>
<h3 aria-label="" class="vector-menu-heading" id="p-cactions-label">
<span>More</span>
<span class="vector-menu-checkbox-expanded">expanded</span>
<span class="vector-menu-checkbox-collapsed">collapsed</span>
</h3>
<h3>
<label for="searchInput">Search</label>
</h3>
<h3 aria-label="" class="vector-menu-heading" id="p-navigation-label">
<span>Navigation</span>
</h3>
<h3 aria-label="" class="vector-menu-heading" id="p-interaction-label">
<span>Contribute</span>
</h3>
<h3 aria-label="" class="vector-menu-heading" id="p-tb-label">
<span>Tools</span>
</h3>
<h3 aria-label="" class="vector-menu-heading" id="p-coll-print_export-label">
<span>Print/export</span>
</h3>
<h3 aria-label="" class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span>In other projects</span>
</h3>
<h3 aria-label="" class="vector-menu-heading" id="p-lang-label">
<span>Languages</span>
</h3>

###  2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release.

In [8]:
from requests import get

In [9]:
url=get("https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating")

In [10]:
request=url.text

In [11]:
from bs4 import BeautifulSoup as Soup

In [12]:
soup_data=Soup(request,"html.parser")

In [13]:
soup_data.title.text

'IMDb "Top 1000"\n(Sorted by IMDb Rating Descending) - IMDb'

In [14]:
movies=soup_data.findAll('div',{'class':"lister-item mode-advanced"})

In [15]:
first_movies=movies[0]

In [16]:
first_movies.h3.a.text

'The Shawshank Redemption'

In [17]:
first_movies.find('span',{'class':"lister-item-year text-muted unbold"}).text[1:5]

'1994'

In [18]:
first_movies.find('div',{'class':"inline-block ratings-imdb-rating"})['data-value']

'9.3'

In [19]:
Name=[]
Rating=[]
Year=[]
for i in movies:
    Name.append(i.h3.a.text)
    Rating.append(i.find('span',{"class":"lister-item-year text-muted unbold"}).text[1:5])
    Year.append(i.find('div',{"class":"inline-block ratings-imdb-rating"})['data-value'])

In [20]:
Name

['The Shawshank Redemption',
 'The Godfather',
 'Soorarai Pottru',
 'The Dark Knight',
 'The Godfather: Part II',
 '12 Angry Men',
 'The Lord of the Rings: The Return of the King',
 'Pulp Fiction',
 "Schindler's List",
 'Inception',
 'Dara iz Jasenovca',
 'Fight Club',
 'The Lord of the Rings: The Fellowship of the Ring',
 'Forrest Gump',
 'Il buono, il brutto, il cattivo',
 'Shershaah',
 'The Lord of the Rings: The Two Towers',
 'The Matrix',
 'Goodfellas',
 'Star Wars: Episode V - The Empire Strikes Back',
 "One Flew Over the Cuckoo's Nest",
 'Gisaengchung',
 'Drishyam 2',
 'Interstellar',
 'Cidade de Deus',
 'Sen to Chihiro no kamikakushi',
 'Saving Private Ryan',
 'The Green Mile',
 'La vita è bella',
 'Se7en',
 'The Silence of the Lambs',
 'Star Wars',
 'Seppuku',
 'Shichinin no samurai',
 "It's a Wonderful Life",
 'Whiplash',
 'The Intouchables',
 'The Prestige',
 'The Departed',
 'The Pianist',
 'Gladiator',
 'American History X',
 'The Usual Suspects',
 'Léon',
 'The Lion King',
 'Terminator 2: Judgment Day',
 'Nuovo Cinema Paradiso',
 'Hotaru no haka',
 'Back to the Future',
 'Once Upon a Time in the West',
 'Psycho',
 'Pather Panchali',
 'Rear Window',
 'Casablanca',
 'Modern Times',
 'City Lights',
 'Hamilton',
 'Capharnaüm',
 'Joker',
 'Ratsasan',
 'Ayla: The Daughter of War',
 'Kimi no na wa.',
 'Dangal',
 'Spider-Man: Into the Spider-Verse',
 'Avengers: Endgame',
 'Avengers: Infinity War',
 'Coco',
 'Django Unchained',
 'The Dark Knight Rises',
 '3 Idiots',
 'Dune',
 'Taare Zameen Par',
 'WALL·E',
 'The Lives of Others',
 'Oldeuboi',
 'Memento',
 'Mononoke-hime',
 'Raiders of the Lost Ark',
 'The Shining',
 'Apocalypse Now',
 'Alien',
 'Tengoku to jigoku',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 'Witness for the Prosecution',
 'Paths of Glory',
 'Sunset Blvd.',
 'The Great Dictator',
 'Chhichhore',
 '1917',
 'Uri: The Surgical Strike',
 'Tumbbad',
 'K.G.F: Chapter 1',
 'Vikram Vedha',
 'Drishyam',
 'Jagten',
 'Jodaeiye Nader az Simin',
 'Incendies',
 'Kimetsu no Yaiba: Mugen Ressha-Hen',
 'The Father',
 'Inglourious Basterds']

In [21]:
data=list(zip(Name,Rating,Year))

In [22]:
import pandas as pd
df=pd.DataFrame(data,columns=['Name','IMDB Rating','Year of Release'])
df.head()

                       Name IMDB Rating Year of Release
0  The Shawshank Redemption        1994             9.3
1             The Godfather        1972             9.2
2           Soorarai Pottru        2020             9.1
3           The Dark Knight        2008               9
4    The Godfather: Part II        1974               9

In [23]:
len(df)

100

### 3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year

In [24]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import re

In [25]:
# Download IMDB's Top 250 Indian Movies Data
url = 'https://www.imdb.com/india/top-rated-indian-movies/'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')

movies = soup.select('td.titleColumn')
links = [a.attrs.get('href') for a in soup.select('td.titleColumn a')]

ratings = [b.attrs.get('data-value') for b in soup.select('td.posterColumn span[name=ir]')]

In [26]:
Ranking = []
Name = []
Year = []
Rating = []

for index in range(0, len(movies)):
    # Seperate movie into: 'place', 'title', 'year'
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    place = movie[:len(str(index))-(len(movie))]
    Ranking.append(index+1)
    Name.append(movie_title)
    Year.append(year)
    Rating.append(ratings[index])

In [27]:
data = list(zip(Ranking, Name, Year, Rating))
df = pd.DataFrame(data,columns=['Ranking', 'Name','Year','Rating'])
df['Rating'] = df['Rating'].astype('float64')
df['Rating'] = df['Rating'].round(decimals=1)

In [28]:
# Top 100 indiab movies
df[:100]

    Ranking                                Name  Year  Rating
0         1                             Nayakan  1987     8.5
1         2                          Anbe Sivam  2003     8.5
2         3                   Pariyerum Perumal  2018     8.5
3         4                   C/o Kancharapalem  2018     8.5
4         5                             Golmaal  1979     8.5
..      ...                                 ...   ...     ...
95       96                     Rang De Basanti  2006     8.1
96       97                     OMG: Oh My God!  2012     8.1
97       98                                Roja  1992     8.1
98       99            Uri: The Surgical Strike  2019     8.1
99      100   Lagaan: Once Upon a Time in India  2001     8.1

[100 rows x 4 columns]

In [29]:
# Save 100 records to a csv file
# df[:100].to_csv('top_100_indian_movies.csv', header=True, index=False)

### 4. Write a python program to scrap book name, author name, genre and book review of any 5 books from

In [30]:
from requests import get

In [31]:
url=get("https://bookpage.com/reviews")

In [32]:
request=url.text

In [33]:
from bs4 import BeautifulSoup as Soup

In [34]:
soup_book=Soup(request,'html.parser')

In [35]:
soup_book.title.text

'Book Reviews | BookPage'

In [36]:
book=soup_book.findAll("div",{"class":"bp-block article-info"})

In [37]:
first_book=book[0]

In [38]:
first_book.find("h4",{"class":"italic"}).text.replace("\n","").strip() #name

'★ The Every'

In [39]:
first_book.find("p",{"class":"sans bold"}).text.strip()    #author name

'Dave Eggers'

In [40]:
first_book.find('p',{"class":"genre-links hidden-phone"}).text.replace("\n","")             #genre

'Fiction / Satire'

In [41]:
first_book.find("p",{"class":"excerpt"}).text.strip()                           #review

'Unplug your Alexa and toss your Apple Watch. The Every, a companion book to The Circle, will likely scare the bejesus out of you.'

In [42]:
name=[]
author=[]
genre=[]
review=[]
for i in book:
    name.append(i.find("h4",{"class":"italic"}))   #name 
    author.append(i.find("p",{"class":"sans bold"}).text.strip())    #author name
    genre.append(i.find('p',{"class":"genre-links hidden-phone"}).text.replace("\n","") ) #genre
    review.append(i.find("p",{"class":"excerpt"}).text)                         #review

In [43]:
data=list(zip(name,author,genre,review))

In [44]:
import pandas as pd
df=pd.DataFrame(data,columns=["Book Name","Author Name","Genre","Book Review"])
df.head()

,Book Name,Author Name,Genre,Book Review
0,"[\n, [ , [★ ], The Every], \n]",Dave Eggers,Fiction / Satire,\nUnplug your Alexa and toss your Apple Watch....
1,"[\n, [ , [★ ], We Are Not Like Them], \n]","Christine Pride, Jo Piazza",Fiction / Literary Fiction,\nHopelessness is certainly a theme in We Are ...
2,"[\n, [ , [★ ], The Lincoln Highway], \n]",Amor Towles,Fiction / Historical Fiction,\nThe pages of Amor Towles’ novel are destined...
3,"[\n, [ , [★ ], Light From Uncommon Stars], \n]",Ryka Aoki,Science Fiction & Fantasy / Science Fiction,\nIn addition to the novel’s all-the-feels poi...
4,"[\n, [Chasing Ghosts], \n]",Marc Hartzman,Nonfiction / History / Spirituality,\nMarc Hartzman gives a lighthearted account o...